<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @exchange_rate.account %>
</p>

<%= link_to 'Edit', edit_exchange_rate_path(@exchange_rate) %> |
<%= link_to 'Back', exchange_rates_path %>
