<p id="notice"><%= notice %></p>

<p>
  <strong>Daily total:</strong>
  <%= @statistic.daily_total %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
