// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#account-name-section {
  margin-top: 5%;
}
h1#account-name {
  font-size: 5em;
}
#account-info-table {
  margin-top: 6%;  
  margin-left: 60%;
}
table#ledger-table {
  text-align: left;
}

//----------------Class-------------------------------------------
.ledger-data {
  text-align: left;
}
.form-body {
  margin-left: 80px;
}
.add-edit-account {
  position: absolute;
  height: 20em;
  width: 25em;
  left: 35%;
  top: 10%;
  border-radius: 15px 15px 15px 15px;

  background-color: #222222;
}
