/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0; padding: 0;
  text-decoration: none;
  font-size: 20px;
}
body {
  background-color: #333333;
  color: #FFFFFF;
}
h1 {
  font-size: 24px;
}
table {
  border-spacing: 10px;
}
th {
  padding-right: 12px;
}
td {
  font-size: 20px;
  text-align: center;
}
#side-menu {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;

  padding-top: 60px;
  padding-left: 30px;

  line-height: 50px;
}
.application-name {
  font-style: italic;
}
.return-link {
  margin-top: 100px;
  margin-left: 185px;
}
