// Place all the styles related to the breakdowns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#breakdown-input-table {
  text-align: left;
}
#ledger-add {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  font-size: 20px;
}
#breakdown_amount {
  width: 4.5em;
}
#edit-breakdown {
  position: absolute;
  left: 30%; 
  width: 70%;
}
#edit-content {
  margin-bottom: 20px; 
}
.breakdown-data {
  text-align: left;
  padding: 0;
  margin:0;
  font-size: 18px;
}
.breakdown-data > select {
  height: 1.5em;
  font-size: 18px;
}
.breakdown-data > input {
  height: 1.5em;
  font-size: 18px;
}
