// Place all the styles related to the breakdowns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#breakdown-input-table {
  text-align: left;
}

#ledger-add {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#breakdown_amount {
  width: 4.5em;
}

.breakdown-data {
  text-align: left;
  padding: 0;
  margin:0;

}
