#registration {
  position: absolute;
  border: solid;
  padding: 2em;
  width: 20em;
  left: 32%; 

  background-color: #222222;
}
#signup-title {
  border: solid 1px;
}
.field label {
  font: bold 20px sans-serif;
  margin: 20px 0 auto;
}
.field input {
  margin: 10px 0 auto;
}
#password-rule {
  font-size: 12px;
}
