// id styles
#registration {
  position: absolute;
  height: 31em;
  width: 25em;
  left: 35%;
  top: 10%;
  border-radius: 15px 15px 15px 15px;

  background-color: #222222;
}
#login {
  position: absolute;
  height: 20em;
  width: 25em;
  left: 35%;
  top: 10%; 
  border-radius: 15px 15px 15px 15px;

  background-color: #222222;
}
#view-profile {
  position: absolute;
  height: 41em;
  width: 30em;
  left: 33%;
  top: 10%; 
  margin-bottom: 3%;
  border-radius: 15px 15px 15px 15px;

  background-color: #222222;
}
#forgot-password {
  position: absolute;
  height: 20em;
  width: 25em;
  left: 35%;
  top: 10%; 
  border-radius: 15px 15px 15px 15px;

  background-color: #222222;
}
#splitter {
  text-align: center;
  color: #555555;
}
#already-member {
  text-align: center;
  line-height: 150%;
  color: #FFFFFF;
}

#delete-account {
  height: 140px;
  margin-top: 25px;
  padding-top: 10px;
  padding-left: 80px;
  line-height: 200%;
  background-color: #444444;
  border-radius: 0 0 15px 15px;
}
#actions {
  line-height: 50px;
}
// class styles------------------------------------------------
.title-bar {
  text-align: center;
  height: 2em;
  padding-top: 15px;
  border-radius: 15px 15px 0 0;
  background-color: #444444;
}
.title-bar > h2 {
  font-size: 20px;
}
.password-rule {
  font-size: 12px;
}
.field label {
  font: bold 20px sans-serif;
  margin: 20px 0 auto;
}
.field input {
  margin: 10px 0 auto;
}
.sign-info {
  margin-left: 80px;
}
.submit-btn {
  font-size: 20px;
  background-color: #006699;
  width: 4.5em;
  height: 1.5em;
}
.send-me-btn {
  background-color: #006699;
  width: 17em;
  height: 2.5em;
  font-size: 15px;
}
.links {
  color: #FFFFFF;
}
.links:hover {
  background-color: transparent;
}
.links:visited {
  color: #FFFFFF;
}
.not-member {
  line-height: 150%;
  color: #FFFFFF; 
}
