// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-page {
  width: 100%;
  height: 100%;
}

#main-title {
  text-align: center;
  margin: 23% 0 auto;
  color: #ffc400;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 1000%;
  font-weight: normal;
}
.centering {
  top: 10%;
  display: block;
  margin: 8em;
  text-align: center;
}
#sign-up {
  padding: 5px 10px 10px 10px;
  border: 8px solid #444444;
  margin-right: 12px;
  background-color: #555555;

  font: bold 30px sans-serif;
  color: #FFFFFF;
}
#sign-up:hover {
  color: #F4D00C;
}
#log-in {
  padding: 5px 10px 10px 10px;
  border: 8px solid #444444;
  margin-left: 12px;
  background-color: #555555;

  font: bold 30px sans-serif;
  color: #FFFFFF;
}
#log-in:hover {
  color: #F4D00C;
}
