// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-title {
  text-align: center;
  margin: 15% 0 auto;
  color: #F4D00C;
  font: italic bold 800% sans-serif;
}
.centering {
  display: block;
  margin: 2em;
  text-align: center;
}
#sign-up {
  padding: 5px 10px 10px 10px;
  border: 8px solid #444444;
  margin-right: 12px;
  background-color: #555555;

  font: bold 30px sans-serif;
  color: #FFFFFF;
}
#sign-up:hover {
  color: #F4D00C;
}
#log-in {
  padding: 5px 10px 10px 10px;
  border: 8px solid #444444;
  margin-left: 12px;
  background-color: #555555;

  font: bold 30px sans-serif;
  color: #FFFFFF;
}
#log-in:hover {
  color: #F4D00C;
}
